{% extends "base.html.twig" %}
 
{% block title %}Mon acceuil {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="css/style.css" />
{% endblock %}
 
{% block body %}
<nav class="nav flex-column">
    <div class="first-nav">
        <a class="nav-link active" href="{{  path('accueil') }}"><img class="logo" src="/images/logo.png" alt="logo" /></a>
        <a class="nav-link" href="#"><img class="logonavbar" src="/images/musicl.svg" alt="logo music" /></a>
        <a class="nav-link" href="#"><img class="logonavbar" src="/images/user.svg" alt="logo user" /></a>
        <a class="nav-link" href="#"><img class="logonavbar" src="/images/search.svg" alt="logo search" /></a>
 
  </div>
    <div>
        <a class="nav-link" href="{{ path('disconnect') }}"><img class="logonavbar exit" src="/images/disconnect.svg" alt="logo disconnect" /></a>
    </div>
</nav>
 
    <h1 class="text-title text-uppercase font-weight-bold">Les musiques<h1>
<div class="principal">
{% for album in albums %}
    <div class="card text-card bg-transparent mp-20px">
        <a href="{{ path('viewDetail') }}"><img class="card-img-top" src="/images/rihanna.png" alt="Card image cap"></a>
            <div>
                <p class="card-text p-10px">
                    {% for m in album.music %}
                    <h4>{{ m.title  }}<h4>
                    {% endfor %}
 
                    {% for artiste in album.artistes %}
                    <h2>{{ artiste.name }}<h2>
                    {% endfor %}
                </p>
            </div>
    </div>
{% endfor %}
</div>
{% endblock %}
 